{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Tinlin - Billbalance</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="The way to make the bills work :)">
		<meta name="author" content="Linus Wallin">

		<link href="{% static "css/main.css" %}" rel="stylesheet">
	</head>

	<body>

		{% block nav %}
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
					<a class="brand" href="/">Billbalance - {{ logged_in_user.first_name }}</a>
					<div class="nav-collapse collapse">
						<ul class="nav block">
							{% block nav-home %}
							<li>
								<a href="/">Hem</a>
							</li>
							{% endblock %}
							{% block nav-history %}
							<li>
								<a href="/history">Historik</a>
							</li>
							{% endblock %}
							{% block nav-analysis %}
							<li>
								<a href="/analysis">Analysis</a>
							</li>
							{% endblock %}

							<li class="nav-header hidden-desktop">
								Inställningar
							</li>
							<li class="pull-right">
								<a href="/logout">Logga ut</a>
							</li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
		{% endblock %}

		<div class="container">
			{% if errorlist %}
			<div class="row-fluid">
				<div class="alert alert-error span12">
					<button type="button" class="close" data-dismiss="alert">
						&times;
					</button>
					<strong>Error</strong>
					<ul>
						{% for errors in errorlist %}
						<li>
							{{errors}}
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			{% endif %}

			{% if success %}
			<div class="row-fluid">
				<div class="alert alert-success span12">
					<button type="button" class="close" data-dismiss="alert">
						&times;
					</button>
					<strong>{{success}}</strong>
				</div>
			</div>

			{% endif %}

			{% block content %}
			{% endblock %}
		</div>

		<!-- Le javascript
		================================================== -->
		<script src="{% static "js/main.js" %}"></script>
		
		{% block script-analysis %}
		{% endblock %}

	</body>
</html>